
.accueil-photos{
    background-color: white;
    padding: 80px;
}

.accueil-photos h2 {
    color :#242424;
    text-align: center;
    margin-bottom: 80px;
}

.accueil-photos div {
    display : flex;
    flex-direction: row;
    gap : 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.accueil-intro{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-start;
    margin : auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.accueil-intro h1{
    margin-bottom: 15px;
}

.accueil-intro div {
    padding-right: 80px;
}

.accueil-intro div p{
    margin-bottom: 30px;
}

.section-contact h2 {
    color: #a5b4fc;
    text-align: center;
    padding-bottom: 40px;
}

.section-contact {
    color : white;
}

.section-contact div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

input{
    width : 45%;
    padding: 10px;
}

textarea {
    width: 100%;
    padding: 20px;
}

